<div class="sidebar ">
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar ">
  <h2>Wechat Official Accounts</h2>
  <img src="{{ site.baseurl}}{{ post.url }}/images/qrcode_victoriest.jpg" />
</div>


<div class="sidebar ">
  <h2>Follow me</h2>
    <li>
      <a title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    </li>

    <li>
      <a title="{{ site.social.rss }} RSS" href="{{ site.baseurl }}/{{ site.social.rss }}" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
    </li>
  </ul>
</div>
<!--
<ul class="social-media">

  {% if site.social.github %}
    <li>
      <a title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
    </li>
  {% endif %}

  {% if site.social.rss %}
    <li>
      <a title="{{ site.social.rss }} RSS" href="{{ site.baseurl }}/{{ site.social.rss }}" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
    </li>
  {% endif %}

</ul>

<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
-->